@page "/game_of_live"
@using Environment = Tutorial2.Data.Environment

<h1>Game of Live</h1>

<p>Current count: @_currentCount and current radio: @Radio </p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<a
    class="btn btn-primary"
    href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life"
    target="_blank">
    Look for patterns in Wikipedia
</a>
<p>
    <input type="radio"
           checked="@(Radio.Equals("step"))"
           value="step"
           @onchange="ClickRadio"> Step by Step
    <input type="radio"
           checked="@(Radio.Equals("many"))"
           value="many"
           @onchange="ClickRadio"> Several steps
</p>
<hr>
<div style="display: @(Radio.Equals("many") ? "" : "none")">
    <h2>
        Hello world from hidden section
    </h2>
</div>
<hr>
<div style="display: @(Radio.Equals("many") ? "" : "none")">
    <h5>
        Cycles specification
    </h5>
    Number of cycles:
    <input @bind="CyclesPerTime"/> (internal value: @CyclesPerTime)
</div>
<hr>
<div style="display: @(Radio.Equals("many") ? "" : "none")">
    <h5>
        Cycles specification
    </h5>
    Number of cycles:
    <br>
    <textarea rows="4" cols="50" @bind="CyclesPerTime"></textarea>
</div>
@{
    _env.Live(3, 3);
    _env.Live(3, 4);
    _env.Live(3, 5);
    _env.Live(2, 5);
    _env.Live(1, 4);
}
<hr/>
<table class="environment">
    @for (var row = 0; row < _env.RowsNumber; row++)
    {
        <tr>
            @for (var col = 0; col < _env.ColumnsNumber; col++)
            {
                if (_env.IsAlive(row, col))
                {
                    <td class="cell alive"></td>
                }
                else
                {
                    <td class="cell dead"></td>
                }
            }
        </tr>
    }
</table>

@code {
    private int _currentCount;
    private string Radio { get; set; } = "step";
    private int CyclesPerTime { get; set; } = 0;
    private readonly Environment _env = new Environment(30, 30);

    private void IncrementCount()
    {
        _currentCount++;
        _env.NextConwayStep();
    }

    private void ClickRadio(ChangeEventArgs args)
    {
        Radio = args.Value?.ToString();
        _currentCount++;
    }

}